.feature-categories {
  margin: 16px;
}

.feature-categories a {
  cursor: pointer;
}

.feature-categories a svg {
  width: 16px;
  vertical-align: bottom;
  margin-right: 8px;
}

.feature-categories .category-listing-root {
  display: none;
  padding-inline-start: 20px;
}

.feature-categories .category-listing-root.visible {
  display: inherit;
}

.category-listing-root {
  margin-top: 16px;
}

.category-listing-root li a {
  text-decoration: none;
}

.category-listing-root li a:hover {
  text-decoration: underline;
}

.category-listing-root li span {
  white-space: nowrap;
}

table.feature {
  border-collapse: collapse;
  background-color: #fff;
  margin: 16px;
}

table.feature td.feature-description {
  padding: 16px;
}

table.feature th.feature-title,
table.feature tr.totals {
  font-weight: bold;
}

table.feature.compact th.feature-title {
  width: 300px;
  min-width: 300px;
}

table.feature th {
  font-weight: normal;
}

table.feature th.file-name {
  background-color: #666;
  padding: 0 16px;
}

table.feature th.file-name a {
  color: #fff;
}

table.feature th.spec-name {
  width: 120px;
}

table.feature th.requirement[colspan="1"] {
  width: 120px;
}

table.feature th.requirement[colspan="1"]:last-of-type {
  width: 200px;
}

table.feature th,
table.feature td {
  height: 24px;
}

table.feature th,
table.feature td {
  border: 1px solid #ccc;
  padding: 4px;
}

th.spec-count {
  width: 55px;
}

td.spec-count {
  text-align: center;
}

table.feature th.spec-name {
  max-width: 150px;
  text-align: justify;
}

table.feature .category-coverage {
  white-space: nowrap;
}

td.cell.covered .cell-text {
  display: block;
  font-size: 0px;
  width: 16px;
  height: 16px;
  margin: auto;
  border-radius: 16px;
  background-color: #000;
}

tr.result:nth-child(odd) td[rowspan="1"],
tr.result:nth-child(odd) td:not([rowspan]),
tr.result:nth-child(odd) th[rowspan="1"],
tr.result:nth-child(odd) th:not([rowspan]) {
  background-color: #eee;
}

tr.totals td:first-child {
  text-align: right;
}

table.feature:not(.compact) th.category {
  vertical-align: top;
}

table.feature:not(.compact) th.category .requirement-text {
  display: block;
  padding-top: 6px;
}

table.feature th.requirement,
table.feature.compact th.requirement,
table.feature.compact th.category {
  text-align: left;
}

table.feature.compact th.category {
}

table.feature.compact th.category-level-0 {
  background-color: #666;
}

table.feature.compact th.category-level-0 button.toggle-visibility {
  fill: #fff;
}

table.feature.compact th.category-level-0 a {
  color: #fff;
}

table.feature.compact th.category-level-1,
table.feature.compact th.requirement-level-1 {
  padding-left: 20px;
}

table.feature.compact th.category-level-2,
table.feature.compact th.requirement-level-2 {
  padding-left: 40px;
}

table.feature.compact th.category-level-3,
table.feature.compact th.requirement-level-3 {
  padding-left: 60px;
}

table.feature.compact th.category-level-4,
table.feature.compact th.requirement-level-4 {
  padding-left: 80px;
}
table.feature.compact th.category-level-1,
table.feature.compact th.category-level-2,
table.feature.compact th.category-level-3,
table.feature.compact th.category-level-4 {
  font-weight: bold;
}

table.feature.compact button.toggle-visibility {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}

table.feature.compact button.toggle-visibility.expand {
  display: none;
}

table.feature.compact tr.collapsed button.toggle-visibility.expand {
  display: unset;
}

table.feature.compact tr.collapsed button.toggle-visibility.collapse {
  display: none;
}

table.feature.compact button.toggle-visibility svg {
  width: 16px;
  vertical-align: bottom;
}

table.feature.compact .hidden {
  display: none;
}
