div.project-link {
  background-color: #ddd;
  padding: 8px 16px;
}

div.project-link div.project-info {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

div.project-link.covered {
  background-color: #eee;
}

div.project-link .title {
  font-size: 150%;
  white-space: nowrap;
}

div.project-link .totals {
  font-size: 16px;
  white-space: nowrap;
}

div.project-link .totals {
  margin-top: 2px;
}

div.project-link .category-listing-root {
  display: none;
  margin: 0;
}

div.project-link .category-listing-root.visible {
  display: inherit;
}

div.project-link .category-listing-root a {
  white-space: nowrap;
}

div.project-link ul {
  padding-inline-start: 20px;
}

div.project-link li a {
  white-space: break-spaces;
}

div.project-link button.toggle-project-categories,
div.project-link button.toggle-project-files {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 -8px;
  align-self: center;
}

div.project-link button.toggle-project-categories svg {
  width: 16px;
  vertical-align: bottom;
}

div.project-link button.toggle-project-files svg {
  width: 14px;
  vertical-align: bottom;
}

.project-files-list {
  display: none;
  margin: 0;
}

.project-files-list a {
  white-space: nowrap;
}

.project-files-list.visible {
  display: inherit;
}

.project-files-list li a {
  text-decoration: none;
}

.project-files-list li a:hover {
  text-decoration: underline;
}

.project-files-list li span {
  white-space: nowrap;
}
