table.project {
  border-collapse: collapse;
  background-color: #fff;
  margin: 16px;
}

table.project td.project-description {
  padding: 16px;
}

table.project th.project-title,
table.project tr.totals {
  font-weight: bold;
}

table.project.compact th.project-title {
  width: 300px;
  min-width: 300px;
}

table.project th {
  font-weight: normal;
}

table.project th.file-name {
  background-color: #666;
  color: #fff;
  padding: 0 16px;
}

table.project th.spec-name {
  width: 120px;
}

table.project th.requirement[colspan="1"] {
  width: 120px;
}

table.project th.requirement[colspan="1"]:last-of-type {
  width: 200px;
}

table.project th,
table.project td {
  height: 24px;
}

table.project th,
table.project td {
  border: 1px solid #ccc;
  padding: 4px;
}

th.spec-count {
  width: 55px;
}

td.spec-count {
  text-align: center;
}

table.project th.spec-name {
  max-width: 150px;
  text-align: justify;
}

td.cell.covered .cell-text {
  display: block;
  font-size: 0px;
  width: 16px;
  height: 16px;
  margin: auto;
  border-radius: 16px;
  background-color: #000;
}

tr.result:nth-child(odd) td[rowspan="1"],
tr.result:nth-child(odd) td:not([rowspan]),
tr.result:nth-child(odd) th[rowspan="1"],
tr.result:nth-child(odd) th:not([rowspan]) {
  background-color: #eee;
}

tr.totals td:first-child {
  text-align: right;
}

table.project.compact th.requirement,
table.project.compact th.category {
  text-align: left;
}

table.project.compact th.category {
}

table.project.compact th.category-level-0 {
  background-color: #666;
  color: #fff;
}

table.project.compact th.category-level-1,
table.project.compact th.requirement-level-1 {
  padding-left: 16px;
}

table.project.compact th.category-level-2,
table.project.compact th.requirement-level-2 {
  padding-left: 32px;
}

table.project.compact th.category-level-3,
table.project.compact th.requirement-level-3 {
  padding-left: 48px;
}

table.project.compact th.category-level-4,
table.project.compact th.requirement-level-4 {
  padding-left: 64px;
}
table.project.compact th.category-level-1,
table.project.compact th.category-level-2,
table.project.compact th.category-level-3,
table.project.compact th.category-level-4 {
  font-weight: bold;
}
