div.dir-root {
  margin: 16px 16px 0 16px;
  color: #666;
  font-size: 250%;
}

div.directory {
  margin: 8px 16px;
}

div.dir-path {
  color: #666;
  font-size: 150%;
}

div.file {
  display: flex;
  gap: 16px;
  align-items: center;
  margin: 0 0 1px 16px;
  background-color: #fff;
  padding: 4px;
}
div.file > a {
  padding: 8px;
  font-size: 130%;
}

div.file div.file-features {
  display: flex;
  column-gap: 16px;
  margin-left: auto;
  flex-wrap: wrap;
}

div.file div.file-features .file-feature {
  cursor: default;
}
